@model GkMS_Test1.Printers.Domain.Models.Printer
@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <h4 class="col-md-4">Modify - MPS Printer</h4>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <div class="form-group" style="float:right">
                <a asp-action="Index">Back to List</a>
                <span> | </span>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

    <hr />
    <input type="hidden" asp-for="Id"/>

    <div class="row">
        <div class="row col-md-6">
            <div class="row col-md-12 form-group required">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="row col-md-12 form-group">
                <label asp-for="Serial" class="control-label"></label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Hsn" class="control-label"></label>
                        <input asp-for="Hsn" class="form-control" />
                        <span asp-validation-for="Hsn" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group required">
                        <label asp-for="Cgst" class="control-label"></label>
                        <input asp-for="Cgst" class="form-control clCgst" type="number" />
                        <span asp-validation-for="Cgst" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group required">
                        <label asp-for="Sgst" class="control-label"></label>
                        <input asp-for="Sgst" class="form-control clSgst" type="number" />
                        <span asp-validation-for="Sgst" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
